/* EMPIEZAN GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }

  img {
    max-width: 100%;
  }

a {
    text-decoration: none;
    color: black;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  align-items: center;
    max-width: 100%;
}

footer div{
  display: flex;
  justify-content: center;
  max-width: max-content;
}

footer div p {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.5); 
  color: black;
  font-size: 1.5vw;
  text-align: center;
}

@media screen and (max-width: 728px) {
  footer p {
  font-size: 2.5vw ;
  }
}


.body_img{
  background-image: url(../img/fondo_herramientas.jpg);
}

@media screen and (max-width: 728px) {
  .body_img {
    background-image: url(../img/fondo_herramientas2.jpg);
  }
}
/* TERMINAN GENERALES */



/* EMPIEZA INDEX */
.section_index{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width:100vw;
  height:60vh;
}

@media screen and (max-width: 728px) {
  .section_index{
    flex-direction: column;
  }
}

.index_h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem !important;
  font-size: 8vW;
  -webkit-text-stroke: 0.1rem white;
}

@media screen and (max-width: 728px) {
  .index_h1{
    font-size: 12vw;
    margin-bottom: 3rem;
    justify-content: center;
    align-items: center;
  }
}

.btn-primary {
  --bs-btn-bg: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(255, 255, 255, 0.5);
  --bs-btn-hover-border-color: #000000;
}

.btn_tecnico{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_tecnico a{
 font-size: 4vw;

}

.btn_tecnico a:hover{
  color: black;
 }

 @media screen and (max-width: 728px) {
  .btn_tecnico{
    width: 45vw;
    height: 10vh;
  }

  .btn_tecnico a{
    font-size: 6vw;
   
   }
 }
 /* TERMINA INDEX */



 /* EMPIEZA MANUALES */
 .manuales_section{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 200px 200px 200px 250px ;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  grid-template-areas: 
  "neo rsi climax"
  "vista dsc caddx"
  "camaras cf otros"
  "puntos pizarro volver";
 }

 @media screen and (max-width: 728px) {
  .manuales_section{
    grid-template-rows: 150px 150px 150px 190px ;
    row-gap: 1rem;
  }
}

.btn_manuales{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 728px) {
  .btn_manuales{
    width: 25vw;
    height: 8vh;
  }
}

.btn_manuales a{
  font-size: 4vw;
 
 }
 
 .btn_manuales a:hover{
   color: black;
  }


 .neo{
  grid-area: neo;
 }

 .rsi{
  grid-area: rsi;
 }

 .climax{
  grid-area: climax;
 }

 .vista{
  grid-area: vista;
 }

 .dsc{
  grid-area: dsc;
 }

 .caddx{
  grid-area: caddx;
 }

 .camaras{
  grid-area: camaras;
 }

 .cf{
  grid-area: cf;
 }

 .puntos{
  grid-area: puntos;
  border: solid 4px black;
 }

 .otros{
  grid-area: otros;
 }

 .pizarro{
  grid-area: pizarro;
 }

 .volver{
  grid-area: volver;
  border: solid 4px black;
 }
 /* TERMINA MANUALES */



/* EMPIEZA INSTRUCTIVOS */
.section_inst{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 200px 200px 200px 250px ;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  grid-template-areas: 
  "neo rsi"
  "climax vista"
  "ivms1 ivms2"
  "volver volver";
}

@media screen and (max-width: 728px) {
  .section_inst{
    grid-template-rows: 120px 120px 120px 150px ;
    /* row-gap: 1rem; */
  }
}

.btn_instructivo{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_instructivo a{
  font-size: 4vw;
}


@media screen and (max-width: 728px) {
  .btn_instructivo{
    width: 25vw;
    height: 8vh;
  }
}

.neo_i{
  grid-area: neo;
}

.rsi_i{
  grid-area: rsi;
}

.climax_i{
  grid-area: climax;
}

.vista_i{
  grid-area: vista;
}

.ivms_i{
  grid-area: ivms1;
}

.ivms_ii{
  grid-area: ivms2;
}

.volver_i{
  grid-area: volver;
  border: solid 4px black;
}
/* TERMINA INSTRUCTIVOS */


/* EMPIEZA NEO */
.section_neo{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 200px 200px 200px;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  grid-template-areas: 
  "neo1 neo2"
  "neo3 neo4"
  "neo5 neo6"
  "neo_volver neo_volver";
 }

 @media screen and (max-width: 728px) {
  .section_neo{
    grid-template-rows: 150px 150px 150px 190px ;
    row-gap: 1rem;
  }
}

.neo1{
  grid-area: neo1;
}

.neo2{
  grid-area: neo2;
}

.neo3{
  grid-area: neo3;
}

.neo4{
  grid-area: neo4;
}

.neo5{
  grid-area: neo5;
}

.neo6{
  grid-area: neo6;
}

.neo_volver{
  grid-area: neo_volver;
  border: solid 4px black;
}
/* TERMINA NEO */


/* EMPIEZA 585 */
.section_dsc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  max-height: 100%;
  margin-top: 10rem;
}

.section_dsc p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  margin: 2rem;
}

.section_dsc button{
  margin: 3rem;
}
/* TERMINA 585 */


/* EMPIEZA CAMARAS */
.section_camaras{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 200px 200px 200px 250px;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  grid-template-areas: 
  "camaras1 camaras2"
  "camaras3 camaras4"
  "camaras5  camaras_volver";
 }

 @media screen and (max-width: 728px) {
  .section_camaras{
    grid-template-rows: 150px 150px 150px;
    row-gap: 1rem;
  }
}

.camaras1{
  grid-area: camaras1;
}

.camaras2{
  grid-area: camaras2;
}

.camaras3{
  grid-area: camaras3;
}

.camaras4{
  grid-area: camaras4;
}

.camaras5{
  grid-area: camaras5;
}

.camaras_volver{
  grid-area: camaras_volver;
  border: solid 4px black;
}

/* EMPIEZA CADDX */
.section_caddx{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 200px 200px 200px;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  margin-top: 10rem;
  grid-template-areas: 
  "caddx1 caddx2"
  "caddx3 caddx_volver";
 }

 @media screen and (max-width: 728px) {
  .section_caddx{
    grid-template-rows: 150px 150px 190px ;
    row-gap: 1rem;
  }
}

.caddx1{
  grid-area: caddx1;
}

.caddx2{
  grid-area: caddx2;
}


.caddx3{
  grid-area: caddx3;
}

.caddx_volver{
  grid-area: caddx_volver;
  border: solid 4px black;
}
/* TERMINA CADDX */


/* EMPIEZA PUNTOS */
.section_puntos{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 200px 200px 200px;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  grid-template-areas: 
  "puntos1 puntos2"
  "puntos3 puntos4"
  "puntos_volver puntos_volver";
 }

 @media screen and (max-width: 728px) {
  .section_puntos{
    grid-template-rows: 150px 150px 150px 190px ;
    row-gap: 1rem;
  }
}

.puntos1{
  grid-area: puntos1;
}

.puntos2{
  grid-area: puntos2;
}

.puntos3{
  grid-area: puntos3;
}

.puntos4{
  grid-area: puntos4;
}

.puntos_volver{
  grid-area: puntos_volver;
  border: solid 4px black;
}
/* TERMINA PUNTOS */


/* EMPIEZA OTROS */
.section_otros{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 200px 200px 200px 250px;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  grid-template-areas: 
  "otros1 otros2"
  "otros3 otros4"
  "otros5 otros6"
  "otros7 otros_volver";
 }

 @media screen and (max-width: 728px) {
  .section_otros{
    grid-template-rows: 150px 150px 150px 190px ;
    row-gap: 1rem;
  }
}

.otros1{
  grid-area: otros1;
}

.otros2{
  grid-area: otros2;
}

.otros3{
  grid-area: otros3;
}

.otros4{
  grid-area: otros4;
}

.otros5{
  grid-area: otros5;
}

.otros6{
  grid-area: otros6;
}

.otros7{
  grid-area: otros7;
}

.otros_volver{
  grid-area: otros_volver;
  border: solid 4px black;
}
/* TERMINA OTROS */


/* EMPIEZA VISTA */
.section_vista{
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 200px 200px 250px;
  justify-items: center;
  align-items: center;
  font-size: 2vw;
  margin-top: 15rem;
  grid-template-areas: 
  "vista1 vista2"
  "vista3 vista_volver";
 }

 @media screen and (max-width: 728px) {
  .section_vista{
    grid-template-rows: 150px 150px 190px ;
    row-gap: 1rem;
  }
}

.vista1{
  grid-area: vista1;
}

.vista2{
  grid-area: vista2;
}

.vista3{
  grid-area: vista3;
}

.vista_volver{
  grid-area: vista_volver;
  border: solid 4px black;
}
/* TERMINA VISTA */