/* EMPIEZAN GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
    height: 100%;
  }

  img {
    max-width: 100%;
  }

a {
    text-decoration: none;
    color: black;
}
/* EMPIEZAN GENERALES */



/* EMPIEZA INDEX */
.body_index{
  background-image: url(../img/fondo_herramientas.jpg);
}

.section_index{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width:100vw;
  height:60vh; 

}

.index_h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem 0 0 0;
  font-size: 10vW;
  -webkit-text-stroke: 0.1rem white;
}

.btn-primary {
  --bs-btn-bg: rgb(255, 255, 255);
  --bs-btn-hover-bg: rgb(255, 255, 255, 0.5);
  --bs-btn-hover-border-color: #000000;
}

.btn_tecnico{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_tecnico a{
 font-size: 4vw;

}

.btn_tecnico a:hover{
  color: black;
 }
 /* TERMINA INDEX */


 /* EMPIEZA MANUALES */
 .manuales_section{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 250px 250px 250px;
  grid-template-areas: 
  "neo rsi climax"
  "vista 585 caddx"
  "camaras cf otros";
 }

 .neo{
  grid-area: neo;
 }

 .rsi{
  grid-area: rsi;
 }

 .climax{
  grid-area: climax;
 }

 .vista{
  grid-area: vista;
 }

 .585{
  grid-area: 585;
 }

 .caddx{
  grid-area: caddx;
 }

 .camaras{
  grid-area: camaras;
 }

 .cf{
  grid-area: cf;
 }

 .otros{
  grid-area: otros;
 }

 /* TERMINA MANUALES */